*{
    margin:0;
    padding:0;
}

li{
    list-style:none;
    text-decoration:none;
}


a{
    color:inherit;
    text-decoration:none;
}

.container{
  display:flex;
  justify-content:center;
  margin: auto;

}

.container>.box{
  padding-top: 50px;
  background-color: #dfdfdf;
  margin-top: 40px;
}

.container>.box>.gym-img{
  text-align:center;
}

.container>.box>.gym-img>.img-box{
   text-align:center;

}

.container>.box>.gym-img>.img-box>img{
  width: 70%;
  height: 500px;

}

.container>.box>.info-box>.address-box{
  text-align:center;
  margin-top: 100px;
  font-weight: bold;
  font-size: 25px;
}

.container>.box>.info-box>.address-box>.address{
  margin-bottom: 40px;
}

.container>.box>.info-box>.address-box>.working-time{
  margin-bottom: 40px;
}

.container>.box>.info-box>.address-box>.phone-number{
  margin-top: 40px;
}

