<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/gymDetail.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="box">
            <div class="gym-img">
                <div class="img-box">
                    <img th:src="@{|/file/${gym.thumbnailImg}|}" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="info-box">
                <div class="address-box">
                    <div class="address">
                        <span th:text="${gym.address}"></span>
                    </div>
                    <div class="working-time">
                        <div>운영시간 : <span th:text="${gym.time}"></span></div>
                    </div>
                    <div class="cost">일일권 가격 :<span th:text="${gym.price}"></span>원</div>
                    <div class="phone-number">
                        <span th:text="${gym.phoneNum}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>