<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login.css}">
</head>
<body>
<form th:action="@{/user/login}" method="post">
    <div class="wrap">
        <div class="top-bar">
            <div class="logo-box">
                <div class="logo">
                    <a th:href="@{/main}">
                        <div class="logo-text">
                            buddy
                        </div>
                    </a>
                </div>
            </div>
            <div class="user-box">
                <div class="login"><a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a></div>
                <div class="login"><a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a></div>
                <div class="sign-up"><a th:href="@{|/user/signup|}">회원가입</a></div>
            </div>
        </div>
        <div class="hello">
            <div class="hello-box">
                <div class="title">반갑습니다!</div>
                <div class="text">이메일로 로그인해주세요.</div>
            </div>
        </div>
        <div class="login-box">
            <div class="user">
                <div class="id">
                    <input name="username" id="username" placeholder="ex)  example@example.com" class="id-input"
                           type="email">
                </div>
                <div class="ps">
                    <input name="password" id="password" placeholder=" 비밀번호를 입력해주세요." class="ps-input" type="password">
                </div>
            </div>
            <div class="login-btn">
                <button type="submit" class="btn">로그인</button>
            </div>
            <!--            <div class="kakao">-->
            <!--                <a href="/oauth2/authorization/kakao">카카오로 시작하기</a>-->
            <!--            </div>-->
            <div class="signup-btn">
                <a th:href="@{|/user/signup|}">이메일로 회원가입</a>
            </div>
        </div>
    </div>
</form>
</body>
</html>
