<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<!-- 질문 -->
<div layout:fragment="content" class="container my-3">
    <h2 class="border-bottom py-2" th:text="${partnerPost.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${partnerPost.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(partnerPost.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/partner/modify/${partnerPost.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${partnerPost.author != null and #authentication.getPrincipal().getUsername() == partnerPost.author.username}"
                   th:text="수정"></a>
                <a th:href="@{|/partner/delete/${partnerPost.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${partnerPost.author != null and #authentication.getPrincipal().getUsername() == partnerPost.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <div th:each="offer : ${partnerPost.offerList}">
        <ul>
            <li>
                <span th:text="${offer.content}"></span>
                <span th:text="${offer.author.getNickname}"></span>
            </li>
            <form th:action="@{|/partner/allow/${offer.id}|}"
                  sec:authorize="isAuthenticated()"
                  th:if="${offer.author != null and #authentication.getPrincipal().getUsername() == partnerPost.author.username}">
                <button type="submit" class="recommend btn btn-sm btn-outline-secondary"> 수락</button>
            </form>
            <a th:href="@{|/offer/delete/${offer.id}|}"
               class="recommend btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${offer.author != null and #authentication.getPrincipal().getUsername() == offer.author.username}"
               th:Text="삭제"></a>
        </ul>
    </div>
    <form th:object="${offerForm}" method="post" sec:authorize="isAuthenticated()"
          th:if="${partnerPost.author != null and #authentication.getPrincipal().getUsername() != partnerPost.author.username}">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <textarea placeholder="신청글을 작성해 주세요." th:field="*{content}" id="" cols="100" rows="1"></textarea>
        <button type="submit">신청글 작성</button>
    </form>
</div>
</body>
</html>