<!--<a th:href="@{/main}">로고</a>-->

<!--게시글 작성 시작-->
<!--<form th:action="@{/post/create}" method="post">-->
<!--    제목<input type="text" name="title">-->
<!--    <br>-->
<!--    내용<textarea name="content" id="" cols="30" rows="10"></textarea>-->
<!--    <button type="submit">게시글 작성</button>-->
<!--</form>-->
<!--게시글 작성 끝-->

<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
<h5 class="my-3 border-bottom pb-2">게시글 작성</h5>
<form th:action="@{/post/create}" th:object="${postForm}" method="post">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
        <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" name="title" id="title" th:field="*{title}" class="form-control">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea name="content" id="content"  th:field="*{content}" class="form-control" rows="10"></textarea>
    </div>
    <input type="submit" value="저장하기" class="btn btn-primary my-2">
</form>
</div>
</html>