<a th:href="@{/main}">로고</a>


<a th:href="@{/post/list}"> 목록 </a>


<div th:text="${post.title}"></div>
<div th:text="${post.content}"></div>
<div th:text="${post.createDate}"></div>

<div th:each="comment : ${post.commentList}">
    <ul>
        <li th:text="${comment.content}"></li>
        <a th:href="@{|/comment/delete/${comment.id}|}"> 삭제 </a>
    </ul>
</div>


<form th:object="${commentForm}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    댓글 <textarea th:field="*{content}" id="" cols="10" rows="10"></textarea>
    <button type="submit">댓글 작성</button>
</form>

<a th:href="@{|/post/delete/${post.id}|}"> 삭제 </a>
<br>

<a th:href="@{|/post/modify/${post.id}|}"> 수정 </a>