<a th:href="@{/main}">로고</a>
<br>


<a th:href="@{/user/login}"> 로그인 </a>
<br>
<a th:href="@{/user/logout}"> 로그아웃 </a>
<br>
<a th:href="@{/user/signup}"> 회원가입</a>

<form th:action="@{/post/list}">
  <div class="col-6">
        <div class="input-group">
            <input type="text" name="keyword" >
            <button class="btn btn-outline-secondary" type="submit" >찾기</button>
        </div>
    </div>
</form>

<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성 일자</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${postList}">
        <td>
            <a th:href="@{|/post/detail/${post.id}|}" th:text="${post.title}"></a>
        </td>
        <td th:text="${post.createDate}"></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/post/create}">게시글 작성</a>