<!--<a th:href="@{/main}">로고</a>-->

<!--게시글 수정 시작-->
<!--<form th:action="@{|/post/modify/${post.id}|}" method="post">-->
<!--    제목<input type="text" name="title">-->
<!--    <br>-->
<!--    내용<textarea name="content" id="" cols="30" rows="10"></textarea>-->
<!--    <button type="submit">게시글 수정</button>-->
<!--</form>-->
<!--게시글 수정 끝-->

<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">게시글 수정</h5>
    <form th:action="@{|/post/modify/${post.id}|}" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" name="title" id="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="수정하기" class="btn btn-primary my-2">
    </form>
</div>
</html>