<!--<a th:href="@{/main}">로고</a>-->
<!--<br>-->


<!--<a th:href="@{/user/login}"> 로그인 </a>-->
<!--<br>-->
<!--<a th:href="@{/user/logout}"> 로그아웃 </a>-->
<!--<br>-->
<!--<a th:href="@{/user/signup}"> 회원가입</a>-->

<!--검색 기능 시작-->

<!--검색 기능 끝-->

<!--작성글 목록 시작-->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/post/list}">
        <div class="col-6">
            <div class="input-group">
                <input type="text" name="keyword">
                <button class="btn btn-outline-secondary" type="submit">찾기</button>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>제목</th>
            <th>작성 일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${postList}">
            <td>
                <a th:href="@{|/post/detail/${post.id}|}" th:text="${post.title}"></a>
                <span class="text-danger small ms-2"
                      th:if="${#lists.size(post.commentList) > 0}"
                      th:text="${#lists.size(post.commentList)}">
                    </span>
            </td>
            <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary">
        <a th:href="@{/post/create}" class="btn btn-primary">게시글 작성</a>
    </button>

</div>
</html>
<!--작성글 목록 끝-->

